<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap" rel="stylesheet">
  <!-- icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
</head>

<body>
  <header class="header d-flex jcsb aic sm-f-wrap">
    <h1><a href="./index.html" class="d-block">logo</a></h1>
    <nav>
      <ul class="menu d-flex sm-f-wrap">
        <li><a class="pr-8 md-pr-5" href="./product_1.html">系列鏡框</a></li>
        <li><a class="pr-8 md-pr-5" href="#">門市據點</a></li>
        <li><a class="pr-8 md-pr-5" href="#">部落格</a></li>
        <li><a href="#">常見問題</a></li>
      </ul>
    </nav>   
  </header>
  <section>
    <div class="sub-Nav container">
        <ul class="prod-Series d-flex jcc">
            <li>
                <p>
                    <a href="./product_1.html"><span class="material-icons-outlined-prod">
                    auto_awesome</span>OPTICAL
                    </a>
                </p>
            </li>
            <li>
                <p>
                    <a href="./product_2.html"><span class="material-icons-outlined-prod">
                    light_mode</span>SUNGLASSES
                    </a>
                </p>
            </li>
            <li>
                <p>
                    <a href=""><span class="material-icons-outlined-prod">
                    flash_on</span>FUNCTIONAL
                    </a>
                </p>
            </li>
        </ul>
    </div>
</section>

  <%- contents %>

  <footer class="footer">
    <div class="container">
      <div class="footerContent d-flex jcsb mb-9-4 md-mb-9-2">
        <ul class="footerMenu d-flex pt-4">
          <li><a class="pr-6 md-pr-5" href="./index.html">首頁</a></li>
          <li><a class="pr-6 md-pr-5" href="./product_1.html">系列鏡框</a></li>
          <li><a class="pr-6 md-pr-5" href="#">門市據點</a></li>
          <li><a class="pr-6 md-pr-5" href="#">部落格</a></li>
          <li><a href="#">常見問題</a></li>
        </ul>
        <ul class="linkMenu d-flex aic pt-4">
          <li class="mr-4"><a href="https://www.facebook.com/"><img src="./assets/images/icon-fb.svg" alt="facebook"></a></li>
          <li class="mr-4"><a href="https://www.instagram.com/"><img src="./assets/images/icon-ig.svg" alt="instagram"></a></li>
          <li class="mr-4"><a href="https://line.me/zh-hant/"><img src="./assets/images/icon-line.svg" alt="line"></a></li>
        </ul>
      </div>
      <div class="footerContact mb-4 pb-3 md-mb-3 md-pb-5-4">
        <h3 class="mb-2"><img src="./assets/images/icon-phone.svg" alt="icon-phone" class="d-inblock mr-2 md-mr-1"><a href="tel:+0800000000">0800 000 000</a></h3>
        <h3 class="mb-2"><img src="./assets/images/icon-mail.svg" alt="icon-mail" class="d-inblock mr-2 md-mr-1"><a href="mailto:glasses@business.com">glasses@business.com</a></h3>
      </div>
      <div class="sm-footerContact sm-mb-2">
        <div class="sm-footerContact-content">
          <h3><img src="./assets/images/icon-phone.svg" alt="icon-phone" class="d-inblock sm-mr-1-4"><a href="tel:+0800000000">0800 000 000</a></h3>
          <h3><img src="./assets/images/icon-mail.svg" alt="icon-mail" class="d-inblock sm-mr-1-4"><a href="mailto:glasses@business.com">glasses@business.com</a></h3>
        </div>
        <ul class="sm-footerContact-linkMenu d-flex">
          <li class="mr-3"><a href="https://www.facebook.com/"><img src="./assets/images/icon-fb.svg" alt="facebook" class="d-inblock"></a></li>
          <li class="mr-3"><a href="https://www.instagram.com/"><img src="./assets/images/icon-ig.svg" alt="instagram" class="d-inblock"></a></li>
          <li><a href="https://line.me/zh-hant/"><img src="./assets/images/icon-line.svg" alt="line"></a></li>
        </ul>
      </div>
      <div class="footerRight d-flex jcsb pb39 md-pb-4">
        <p class="md-mb-1">Copyright © 2020 Glasses.All rights reserved.</p>
        <div class="rSide d-flex">
          <h6 class="mr-6 sm-mb-1"><a href="#">隱私權政策</a></h6>
          <h6 class="mr-6 sm-pb-3"><a href="#">服務條款</a></h6>
        </div>        
      </div>
    </div>
  </footer>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
