@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*home feature-card-content文字內容版型*/
/*home recommend-card-content文字內容版型*/
/*product card-detail 型號價錢版型*/
/*product card-color產品色塊*/
/*location+faq section 上下推擠h2文字內容版型*/
/*location select設定*/
/*pagination 分頁模板*/
body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Noto Sans TC", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5; }

a {
  text-decoration: none;
  display: block; }
  a:hover {
    opacity: 0.5; }

img {
  max-width: 100%;
  height: auto;
  display: block; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

h2 {
  font-size: 48px; }

h3 {
  font-size: 36px; }

h4 {
  font-size: 24px; }

h5 {
  font-size: 20px; }

h6 {
  font-size: 14px; }

/*--------margin for PC---------------*/
.mt-1 {
  margin-top: 8px !important; }

.mt-5 {
  margin-top: 40px !important; }

.mr-1 {
  margin-right: 8px !important; }

.mr-2 {
  margin-right: 16px !important; }

.mr-3 {
  margin-right: 24px !important; }

.mr-4 {
  margin-right: 32px !important; }

.mr-6 {
  margin-right: 48px !important; }

.mr-22p {
  margin-right: 22px !important; }

.mr-5-4 {
  margin-right: 20px !important;
  /*lacation label*/ }

.mr-15-2 {
  margin-right: 30px !important;
  /*location card*/ }

.mb-1 {
  margin-bottom: 8px !important; }

.mb-2 {
  margin-bottom: 16px !important; }

.mb-3 {
  margin-bottom: 24px !important; }

.mb-4 {
  margin-bottom: 32px !important; }

.mb-5 {
  margin-bottom: 40px !important; }

.mb-8 {
  margin-bottom: 64px !important; }

.mb-13 {
  margin-bottom: 104px !important; }

.mb-20 {
  margin-bottom: 160px !important; }

.mb-5-4 {
  margin-bottom: 20px !important;
  /*blogcontent sharelink*/ }

.mb-9-4 {
  margin-bottom: 36px !important;
  /*footerContent+faqtop mb*/ }

.mb-15-4 {
  margin-bottom: 60px !important; }

/*----------padding for PC-----------------*/
.pt-4 {
  padding-top: 32px !important; }

.pr-2 {
  padding-right: 16px !important; }

.pr-6 {
  padding-right: 48px !important; }

.pr-8 {
  padding-right: 64px !important; }

.pr-5-4 {
  padding-right: 20px !important; }

.pr-15-2 {
  padding-right: 30px !important; }

.pb-3 {
  padding-bottom: 24px !important; }

.pb-39p {
  padding-bottom: 39px !important;
  /*footerRight pb*/ }

.pl-2 {
  padding-left: 16px !important; }

.pl-19p {
  padding-left: 19px !important;
  /*location select*/ }

/*-------------margin for PAD-------------*/
@media (max-width: 992px) {
  .md-mt-4 {
    margin-top: 32px !important; }
  .md-mr-0 {
    margin-right: 0px !important; }
  .md-mr-1 {
    margin-right: 8px !important; }
  .md-mr-2 {
    margin-right: 16px !important; }
  .md-mr-5-4 {
    margin-right: 20px !important; }
  .md-mb-1 {
    margin-bottom: 8px !important; }
  .md-mb-2 {
    margin-bottom: 16px !important; }
  .md-mb-3 {
    margin-bottom: 24px !important; }
  .md-mb-4 {
    margin-bottom: 32px !important; }
  .md-mb-5 {
    margin-bottom: 40px !important; }
  .md-mb-9 {
    margin-bottom: 72px !important; }
  .md-mb-12 {
    margin-bottom: 96px !important; }
  .md-mb-1-4 {
    margin-bottom: 4px !important; }
  .md-mb-9-2 {
    margin-bottom: 18px !important; }
  .md-mb-5-4 {
    margin-bottom: 20px !important; }
  .md-mb-25p {
    margin-bottom: 25px !important; } }

/*-----------padding for PAD--------------*/
@media (max-width: 992px) {
  .md-pr-1 {
    padding-right: 8px !important; }
  .md-pr-2 {
    padding-right: 16px !important; }
  .md-pr-5 {
    padding-right: 40px !important; }
  .md-pb-4 {
    padding-bottom: 32px !important; }
  .md-pb-5-4 {
    padding-bottom: 20px !important; }
  .md-pl-2 {
    padding-left: 16px !important; } }

/*--------------margin for Mobile-------------*/
@media (max-width: 767px) {
  .sm-mt-7-4 {
    margin-top: 28px !important; }
  .sm-mr-1 {
    margin-right: 8px !important; }
  .sm-mr-1-4 {
    margin-right: 4px !important; }
  .sm-mr-3-4 {
    margin-right: 12px !important; }
  .sm-mb-0 {
    margin-bottom: 0px !important; }
  .sm-mb-1 {
    margin-bottom: 8px !important; }
  .sm-mb-2 {
    margin-bottom: 16px !important; }
  .sm-mb-3 {
    margin-bottom: 24px !important; }
  .sm-mb-4 {
    margin-bottom: 32px !important; }
  .sm-mb-7 {
    margin-bottom: 56px !important; }
  .sm-mb-5-2 {
    margin-bottom: 10px !important; }
  .sm-mb-5-4 {
    margin-bottom: 20px !important; }
  .sm-mb-7-4 {
    margin-bottom: 28px !important; }
  .sm-mb-15-2 {
    margin-bottom: 30px !important; } }

/*----------padding for Mobile-------------*/
@media (max-width: 767px) {
  .sm-pr-0 {
    padding-right: 0px !important; }
  .sm-pr-1-4 {
    padding-right: 4px !important; }
  .sm-pb-3 {
    padding-bottom: 24px !important; }
  .sm-pl-1 {
    padding-bottom: 8px !important; } }

/*----------display setting-----------------*/
.d-block {
  display: block !important; }

.d-inblock {
  display: inline-block !important; }

.d-flex {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important; }

.d-none {
  display: none !important; }

.d-inline {
  display: inline !important; }

.f-wrap {
  -ms-flex-wrap: wrap !important;
      flex-wrap: wrap !important; }

@media (max-width: 992px) {
  .md-d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .md-d-none {
    display: none !important; }
  .md-f-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .md-d-inblock {
    display: inline-block !important; }
  .md-d-block {
    display: block !important; } }

@media (max-width: 767px) {
  .sm-d-block {
    display: block !important; }
  .sm-d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; }
  .sm-f-wrap {
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important; }
  .sm-d-none {
    display: none !important; } }

.justify-content-between {
  -webkit-box-pack: justify !important;
      -ms-flex-pack: justify !important;
          justify-content: space-between !important; }

.justify-content-center {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important; }

.align-items-center {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important; }

/*-----------text-----------------*/
.fw-bold {
  font-weight: bold; }

.text-center {
  text-align: center; }

/*icon-prod_1(layout_prod)*/
.material-icons-outlined-prod {
  font-family: 'Material Icons';
  font-style: normal;
  color: #000000;
  width: 44px;
  height: 44px; }
  @media (max-width: 992px) {
    .material-icons-outlined-prod {
      width: 29.33px;
      height: 29.33px; } }
  @media (max-width: 767px) {
    .material-icons-outlined-prod {
      width: 14.66px;
      height: 14.66px; } }

/*blog layout*/
.material-icons-outlined-blogsearch {
  font-family: 'Material Icons';
  font-style: normal;
  color: #FFFFFF; }

/*容器*/
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .container {
      max-width: 720px; } }
  @media (max-width: 767px) {
    .container {
      max-width: 360px; } }

.header {
  background-color: #AA0601;
  padding: 30px 88px; }
  @media (max-width: 992px) {
    .header {
      padding: 30px 39px; } }
  @media (max-width: 767px) {
    .header {
      padding: 0;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 999; } }
  @media (max-width: 767px) {
    .header h1 {
      margin: 0 auto;
      padding: 10px 0; } }
  .header h1 a {
    width: 80px;
    height: 49px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png");
    background-size: cover;
    text-decoration: none;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
    @media (max-width: 767px) {
      .header h1 a {
        width: 48px;
        height: 29.14px; } }
  @media (max-width: 767px) {
    .header nav {
      width: 100%;
      /*不然右邊會有多餘的紅色背景*/ } }
  @media (max-width: 767px) {
    .header nav .menu {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #AA0511; } }
  @media (max-width: 767px) {
    .header nav .menu li {
      width: 50%;
      border: 1px solid #FFFFFF; } }
  .header nav .menu li a {
    font-size: 20px;
    line-height: 30px;
    text-decoration: none;
    color: #FFFFFF;
    display: block; }
    .header nav .menu li a:hover {
      opacity: 0.5; }
      @media (max-width: 767px) {
        .header nav .menu li a:hover {
          background: #AA0601; } }
    @media (max-width: 767px) {
      .header nav .menu li a {
        text-align: center;
        padding: 8px 54px;
        white-space: nowrap;
        overflow: auto; } }

/*product layout*/
.sub-Nav .prod-Series {
  font-size: 32px;
  line-height: 50px;
  text-align: center; }
  @media (max-width: 992px) {
    .sub-Nav .prod-Series {
      font-size: 24px;
      line-height: 32px; } }
  @media (max-width: 767px) {
    .sub-Nav .prod-Series {
      font-size: 14px;
      line-height: 14px; } }
  .sub-Nav .prod-Series li {
    border: 1px solid #DCDCDC;
    width: 33.3%;
    margin: 0 -1px -1px 0; }
    @media (max-width: 767px) {
      .sub-Nav .prod-Series li {
        margin-top: -1px; } }
    .sub-Nav .prod-Series li a {
      display: block;
      color: #000000;
      font-weight: bold;
      padding: 27px 0;
      border-bottom: 8px solid transparent; }
      @media (max-width: 992px) {
        .sub-Nav .prod-Series li a {
          padding: 14px 0; } }
      @media (max-width: 767px) {
        .sub-Nav .prod-Series li a {
          padding: 5px 0;
          border-bottom: 4px solid transparent;
          white-space: nowrap;
          overflow: auto; } }
      .sub-Nav .prod-Series li a span {
        margin-right: 10px; }
        @media (max-width: 992px) {
          .sub-Nav .prod-Series li a span {
            margin-right: 9px; } }
        @media (max-width: 767px) {
          .sub-Nav .prod-Series li a span {
            margin-right: 2px; } }
      .sub-Nav .prod-Series li a:hover {
        border-bottom: 8px solid #AA0601; }
        @media (max-width: 767px) {
          .sub-Nav .prod-Series li a:hover {
            border-bottom: 4px solid #AA0601; } }

/*blog layout*/
.blog-Header {
  background-color: #650300; }
  @media (max-width: 767px) {
    .blog-Header {
      display: none; } }
  .blog-Header .blog-Nav a {
    padding-right: 48px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px; }
    @media (max-width: 992px) {
      .blog-Header .blog-Nav a {
        font-size: 16px; } }
    .blog-Header .blog-Nav a:hover {
      opacity: 0.5; }
  .blog-Header .blog-Nav .blog-Search a {
    font-size: 40px; }

.footer {
  background-color: #AA0601; }
  @media (max-width: 767px) {
    .footer .footerContent {
      display: none; } }
  .footer .footerContent .footerMenu a {
    color: #FFFFFF; }
    .footer .footerContent .footerMenu a:hover {
      opacity: 0.5; }
  .footer .footerContent .linkMenu img {
    width: 48px;
    height: 48px; }
    @media (max-width: 992px) {
      .footer .footerContent .linkMenu img {
        width: 24px;
        height: 24px; } }
    .footer .footerContent .linkMenu img:hover {
      opacity: 0.5; }
  .footer .footerContact {
    border-bottom: 1px solid #FFFFFF; }
    @media (max-width: 767px) {
      .footer .footerContact {
        display: none; } }
    @media (max-width: 992px) {
      .footer .footerContact h3 {
        font-size: 20px; } }
    .footer .footerContact h3 img {
      width: 36px;
      height: 36px; }
      @media (max-width: 992px) {
        .footer .footerContact h3 img {
          width: 18px;
          height: 18px; } }
    .footer .footerContact h3 a {
      color: #FFFFFF; }
      .footer .footerContact h3 a:hover {
        opacity: 0.5; }
  .footer .sm-footerContact {
    display: none; }
    @media (max-width: 767px) {
      .footer .sm-footerContact {
        display: block;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding: 24px 0;
        border-bottom: 1px solid #FFFFFF; } }
    @media (max-width: 992px) {
      .footer .sm-footerContact .sm-footerContact-content h3 {
        font-size: 20px; } }
    .footer .sm-footerContact .sm-footerContact-content h3 img {
      width: 15px;
      height: 15px; }
    .footer .sm-footerContact .sm-footerContact-content h3 a {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 16px; }
      .footer .sm-footerContact .sm-footerContact-content h3 a:hover {
        opacity: 0.5; }
    .footer .sm-footerContact .sm-footerContact-linkMenu img {
      width: 24px;
      height: 24px; }
      .footer .sm-footerContact .sm-footerContact-linkMenu img:hover {
        opacity: 0.5; }
  .footer .footerRight {
    color: #FFFFFF; }
    @media (max-width: 767px) {
      .footer .footerRight {
        display: inline !important; } }
    @media (max-width: 767px) {
      .footer .footerRight .rSide {
        display: inline !important; } }
    .footer .footerRight .rSide h6 a {
      text-decoration: none;
      color: #FFFFFF; }
      .footer .footerRight .rSide h6 a:hover {
        opacity: 0.5; }

/*icon-home*/
.material-icons-outlined {
  font-family: 'Material Icons';
  font-style: normal;
  color: #AA0601;
  width: 44px;
  height: 44px; }
  @media (max-width: 992px) {
    .material-icons-outlined {
      width: 40px;
      height: 40px; } }

.banner {
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/banner.png") center center;
  background-size: cover;
  height: 840px; }
  @media (max-width: 767px) {
    .banner {
      height: 394px; } }
  .banner .slogan {
    text-align: right;
    padding-top: 348px;
    color: #650300; }
    @media (max-width: 992px) {
      .banner .slogan {
        padding-top: 372px; } }
    @media (max-width: 767px) {
      .banner .slogan {
        padding-top: 164px; } }
    .banner .slogan span {
      font-size: 36px;
      line-height: 54px; }
      @media (max-width: 992px) {
        .banner .slogan span {
          font-size: 20px;
          line-height: 30px; } }
      @media (max-width: 767px) {
        .banner .slogan span {
          font-size: 16px; } }
    .banner .slogan p {
      font-size: 64px;
      line-height: 96px;
      font-weight: bold; }
      @media (max-width: 992px) {
        .banner .slogan p {
          font-size: 48px;
          line-height: 72px; } }
      @media (max-width: 767px) {
        .banner .slogan p {
          font-size: 32px;
          line-height: 45px;
          /*設計稿lh=72px,但網頁看起來span與p距離和設計稿不符,所以改為h45px*/ } }

/*feature用專業的心做專業的事*/
.feature {
  background-color: #AA06010D;
  padding: 60px 0 80px; }
  .feature h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px; }
  @media (max-width: 992px) {
    .feature {
      padding: 40px 0 56px; }
      .feature h2 {
        margin-bottom: 32px;
        font-size: 32px; } }
  @media (max-width: 767px) {
    .feature {
      padding: 32px 0 40px; }
      .feature h2 {
        margin-bottom: 20px;
        font-size: 20px; } }
  @media (max-width: 992px) {
    .feature {
      padding-bottom: 24px;
      /*56設計稿距離-32(li mb32)*/ } }
  @media (max-width: 767px) {
    .feature {
      padding-bottom: 8px;
      /*40設計稿距離-32(li mb32)*/ } }
  .feature h2 {
    color: #650300; }
  @media (max-width: 992px) {
    .feature .fetCard-List {
      -ms-flex-pack: distribute;
          justify-content: space-around;
      /*設計稿左右沒靠齊container*/ } }
  .feature .fetCard-List .fet-Card {
    width: 23%;
    /*容器寬度1110-mr30*3個間隔=1020 1020/4=255每個區塊寬度 255/1110=22.9% */ }
    @media (max-width: 992px) {
      .feature .fetCard-List .fet-Card {
        width: 37%;
        /*255區塊/690容器寬度=0.369*/ } }
    @media (max-width: 767px) {
      .feature .fetCard-List .fet-Card {
        width: 75%;
        /*270/360=0.708* 270=255+左右jcsa的gutter15*/ } }
    .feature .fetCard-List .fet-Card .fetCard-img {
      height: 100px; }
      .feature .fetCard-List .fet-Card .fetCard-img img {
        margin: auto; }
    .feature .fetCard-List .fet-Card .fetCard-content {
      margin-top: 16px; }
      .feature .fetCard-List .fet-Card .fetCard-content h4 {
        text-align: center;
        font-weight: bold;
        color: #650300;
        margin-bottom: 8px; }

/*series經典系列鏡框*/
.series {
  padding: 60px 0 80px;
  padding-bottom: 48px;
  /*80-li的mb32=48 &pad 56-li的mb8*/ }
  .series h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px; }
  @media (max-width: 992px) {
    .series {
      padding: 40px 0 56px; }
      .series h2 {
        margin-bottom: 32px;
        font-size: 32px; } }
  @media (max-width: 767px) {
    .series {
      padding: 32px 0 40px; }
      .series h2 {
        margin-bottom: 20px;
        font-size: 20px; } }
  .series h2 {
    color: #650300; }
  @media (max-width: 767px) {
    .series .seriesType li {
      position: relative; } }
  .series .seriesType img {
    max-width: 635px; }
    @media (max-width: 992px) {
      .series .seriesType img {
        max-width: 390px; } }
    @media (max-width: 767px) {
      .series .seriesType img {
        max-width: 100%; } }
  .series .seriesType p {
    color: #AA0601;
    font-style: italic;
    font-size: 48px;
    /* white-space: nowrap;
            overflow:auto;
            因設計稿fz48px SUNGLASSES&FUNCTIONAL 在1050時會換行行*/
    line-height: 72px;
    font-weight: bold;
    display: inline; }
    @media (max-width: 992px) {
      .series .seriesType p {
        font-size: 28px; } }
    @media (max-width: 767px) {
      .series .seriesType p {
        position: absolute;
        line-height: 24px;
        left: 55px; } }
  .series .seriesType .type-2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    @media (max-width: 992px) {
      .series .seriesType .type-2 {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    .series .seriesType .type-2 img {
      margin-left: 32px; }
      @media (max-width: 992px) {
        .series .seriesType .type-2 img {
          margin: 0 30px 0 0; } }
  .series .seriesType .type-1 img, .series .seriesType .type-3 img {
    margin-right: 30px; }

/*cobranded聯名設計鏡框*/
.coBranded {
  padding: 60px 0 80px;
  background: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png") center center;
  background-size: cover; }
  .coBranded h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px; }
  @media (max-width: 992px) {
    .coBranded {
      padding: 40px 0 56px; }
      .coBranded h2 {
        margin-bottom: 32px;
        font-size: 32px; } }
  @media (max-width: 767px) {
    .coBranded {
      padding: 32px 0 40px; }
      .coBranded h2 {
        margin-bottom: 20px;
        font-size: 20px; } }
  @media (max-width: 767px) {
    .coBranded {
      padding-bottom: 24px;
      /*40-mb16(li向下推的)*/ } }
  .coBranded h2 {
    color: #FFFFFF; }
  .coBranded .coBrandName li {
    position: relative;
    background-color: #FFFFFF;
    max-width: 48.6%;
    /*540/1110=0.486*/ }
    @media (max-width: 992px) {
      .coBranded .coBrandName li {
        max-width: 47.8%;
        /*330/690=0.478*/ } }
    @media (max-width: 767px) {
      .coBranded .coBrandName li {
        max-width: 101%;
        /*不知道為什麼100%圖片右邊會沒被覆蓋到背景白色*/ } }
    .coBranded .coBrandName li img {
      height: 455px;
      opacity: 0.5; }
      @media (max-width: 992px) {
        .coBranded .coBrandName li img {
          height: 278px; } }
      @media (max-width: 767px) {
        .coBranded .coBrandName li img {
          height: 291px; } }
    .coBranded .coBrandName li p {
      font-size: 72px;
      line-height: 108px;
      font-weight: 700;
      position: absolute;
      top: 38%;
      left: 25%;
      color: #AA0601; }
      @media (max-width: 992px) {
        .coBranded .coBrandName li p {
          font-size: 32px;
          line-height: 25px;
          font-weight: bold;
          top: 48%;
          left: 32%; } }

/*recommend顧客推薦*/
.recommend {
  padding: 60px 0 80px; }
  .recommend h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px; }
  @media (max-width: 992px) {
    .recommend {
      padding: 40px 0 56px; }
      .recommend h2 {
        margin-bottom: 32px;
        font-size: 32px; } }
  @media (max-width: 767px) {
    .recommend {
      padding: 32px 0 40px; }
      .recommend h2 {
        margin-bottom: 20px;
        font-size: 20px; } }
  @media (max-width: 992px) {
    .recommend {
      padding-bottom: 24px;
      /*56-mb32 &mobile40-mb16*/ } }
  .recommend h2 {
    color: #650300; }
  .recommend .recCard-list .rec-Card {
    max-width: 23%;
    -webkit-box-shadow: 0px 2px 6px #00000029;
            box-shadow: 0px 2px 6px #00000029; }
    @media (max-width: 992px) {
      .recommend .recCard-list .rec-Card {
        max-width: 47%; } }
    @media (max-width: 767px) {
      .recommend .recCard-list .rec-Card {
        max-width: 98%;
        /*圖片右邊才沒留白*/ } }
    .recommend .recCard-list .rec-Card .recCard-img img {
      height: 256px; }
    .recommend .recCard-list .rec-Card .recCard-content {
      padding: 16px;
      height: 204px;
      /*可以不寫死高度,用padding上下推 但p段落要另外寫margin推日期*/
      position: relative; }
      .recommend .recCard-list .rec-Card .recCard-content h6 {
        color: #212529; }
      .recommend .recCard-list .rec-Card .recCard-content p {
        color: #212529; }
      .recommend .recCard-list .rec-Card .recCard-content span {
        color: #707070;
        font-size: 14px;
        line-height: 21px;
        position: absolute;
        bottom: 16px; }

/*contactUs聯絡我們*/
.contactUs {
  padding: 60px 0 80px;
  background-color: #AA06010D; }
  .contactUs h2 {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px; }
  @media (max-width: 992px) {
    .contactUs {
      padding: 40px 0 56px; }
      .contactUs h2 {
        margin-bottom: 32px;
        font-size: 32px; } }
  @media (max-width: 767px) {
    .contactUs {
      padding: 32px 0 40px; }
      .contactUs h2 {
        margin-bottom: 20px;
        font-size: 20px; } }
  .contactUs p {
    max-width: 730px;
    font-size: 20px;
    line-height: 30px;
    margin: 0 auto 20px; }
    @media (max-width: 992px) {
      .contactUs p {
        max-width: 450px;
        font-size: 16px;
        line-height: 24px;
        margin: 0 auto 16px;
        /*120=(690-450)/2*/ } }
    @media (max-width: 767px) {
      .contactUs p {
        margin: 0 auto; } }
  .contactUs .contact-formgroup {
    max-width: 730px;
    margin: 0 auto 16px;
    /*190=(1110-730)/2*/ }
    @media (max-width: 992px) {
      .contactUs .contact-formgroup {
        max-width: 450px;
        margin: 0 120px 8px;
        /*120=(690-450)/2*/
        font-size: 14px;
        line-height: 21px; } }
    @media (max-width: 767px) {
      .contactUs .contact-formgroup {
        margin: 0 auto 8px; } }
    .contactUs .contact-formgroup input {
      display: block;
      border: 1px solid #000000;
      height: 50px;
      width: 730px;
      font-size: 16px;
      line-height: 24px; }
      @media (max-width: 992px) {
        .contactUs .contact-formgroup input {
          font-size: 14px;
          line-height: 21px;
          height: 36px;
          width: 450px; } }
      @media (max-width: 767px) {
        .contactUs .contact-formgroup input {
          max-width: 100%; } }
  .contactUs .opinion-text textarea {
    display: block;
    width: 100%;
    height: 136px;
    border: 1px solid #000000;
    font-size: 16px;
    line-height: 24px; }
    @media (max-width: 992px) {
      .contactUs .opinion-text textarea {
        height: 100px;
        font-size: 14px;
        line-height: 21px; } }
  .contactUs .checkbox {
    max-width: 730px;
    margin: 0 auto 40px; }
    @media (max-width: 992px) {
      .contactUs .checkbox {
        max-width: 450px;
        margin: 0 auto 20px; } }
    @media (max-width: 767px) {
      .contactUs .checkbox {
        margin: 0 auto 20px; } }
    .contactUs .checkbox input[type="checkbox"] {
      display: inline;
      margin: 0 4px 6px 0;
      vertical-align: middle;
      width: 24px;
      height: 24px; }
      @media (max-width: 992px) {
        .contactUs .checkbox input[type="checkbox"] {
          width: 17.6px;
          height: 17.6px;
          /*text-indent: -14px;
                margin-left: 14px; 第二行縮排無效*/ } }
  .contactUs .contact-btn {
    margin: 0 auto;
    text-align: center; }
    .contactUs .contact-btn input[type="submit"] {
      width: 350px;
      height: 54px;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      background-color: #AA0601;
      border: none; }
      @media (max-width: 992px) {
        .contactUs .contact-btn input[type="submit"] {
          width: 210px;
          height: 40px;
          font-size: 14px;
          line-height: 21px; } }
      @media (max-width: 767px) {
        .contactUs .contact-btn input[type="submit"] {
          width: 165px;
          height: 36px; } }
      .contactUs .contact-btn input[type="submit"]:hover {
        background-color: #650300; }

.sub-Nav .prod-Series {
  font-size: 32px;
  line-height: 50px;
  text-align: center; }
  @media (max-width: 992px) {
    .sub-Nav .prod-Series {
      font-size: 24px;
      line-height: 32px; } }
  @media (max-width: 767px) {
    .sub-Nav .prod-Series {
      font-size: 14px;
      line-height: 14px; } }
  .sub-Nav .prod-Series li {
    border: 1px solid #DCDCDC;
    width: 33.3%;
    margin: 0 -1px -1px 0; }
    @media (max-width: 767px) {
      .sub-Nav .prod-Series li {
        margin-top: -1px; } }
    .sub-Nav .prod-Series li a {
      text-decoration: none;
      display: block;
      color: #000000;
      font-weight: bold;
      padding: 27px 0;
      border-bottom: 8px solid transparent; }
      @media (max-width: 992px) {
        .sub-Nav .prod-Series li a {
          padding: 14px 0; } }
      @media (max-width: 767px) {
        .sub-Nav .prod-Series li a {
          padding: 5px 0;
          border-bottom: 4px solid transparent;
          white-space: nowrap;
          overflow: auto; } }
      .sub-Nav .prod-Series li a span {
        margin-right: 10px; }
        @media (max-width: 992px) {
          .sub-Nav .prod-Series li a span {
            margin-right: 9px; } }
        @media (max-width: 767px) {
          .sub-Nav .prod-Series li a span {
            margin-right: 2px; } }
      .sub-Nav .prod-Series li a:hover {
        border-bottom: 8px solid #AA0601; }
        @media (max-width: 767px) {
          .sub-Nav .prod-Series li a:hover {
            border-bottom: 4px solid #AA0601; } }

/*prod-banner兩張圖片*/
@media (max-width: 992px) {
  .prod-Banner .prod-Banner-lg {
    display: none; } }

.prod-Banner .prod-Banner-md {
  display: none; }
  @media (max-width: 992px) {
    .prod-Banner .prod-Banner-md {
      display: block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (max-width: 767px) {
    .prod-Banner .prod-Banner-md {
      display: none; } }
  @media (max-width: 992px) {
    .prod-Banner .prod-Banner-md li {
      width: 100%; } }
  @media (max-width: 992px) {
    .prod-Banner .prod-Banner-md li img {
      height: 304px;
      width: 100%; } }

.prod-Banner .prod-Banner-sm {
  display: none; }
  @media (max-width: 767px) {
    .prod-Banner .prod-Banner-sm {
      display: block;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (max-width: 767px) {
    .prod-Banner .prod-Banner-sm li {
      width: 100%; } }
  @media (max-width: 767px) {
    .prod-Banner .prod-Banner-sm li img {
      height: 148px;
      width: 100%; } }

/*productList 商品列表*/
.productList {
  /*optical*/
  /*sunglasses*/ }
  .productList .prodList-Title {
    text-align: center;
    margin: 80px 0 40px; }
    @media (max-width: 992px) {
      .productList .prodList-Title {
        margin: 56px 0 32px; } }
    @media (max-width: 767px) {
      .productList .prodList-Title {
        margin: 32px 0 20px; } }
    .productList .prodList-Title .prodList-Title-en {
      font-size: 42px;
      line-height: 63px; }
      @media (max-width: 992px) {
        .productList .prodList-Title .prodList-Title-en {
          font-size: 32px;
          line-height: 48px; } }
      @media (max-width: 767px) {
        .productList .prodList-Title .prodList-Title-en {
          font-size: 20px; } }
    .productList .prodList-Title .prodList-Title-ch {
      font-size: 32px;
      line-height: 48px; }
      @media (max-width: 992px) {
        .productList .prodList-Title .prodList-Title-ch {
          font-size: 24px;
          line-height: 36px; } }
      @media (max-width: 767px) {
        .productList .prodList-Title .prodList-Title-ch {
          font-size: 16px; } }
  .productList .prod-Op-content .op-Card li {
    max-width: 23%; }
    @media (max-width: 992px) {
      .productList .prod-Op-content .op-Card li {
        max-width: 47.8%; } }
    @media (max-width: 767px) {
      .productList .prod-Op-content .op-Card li {
        max-width: 100%; } }
    .productList .prod-Op-content .op-Card li img {
      width: 255px;
      height: 164px; }
      @media (max-width: 992px) {
        .productList .prod-Op-content .op-Card li img {
          width: 330px; } }
      @media (max-width: 767px) {
        .productList .prod-Op-content .op-Card li img {
          width: 345px;
          height: 166px; } }
    @media (max-width: 992px) {
      .productList .prod-Op-content .op-Card li .prod-Detail h4 {
        font-size: 24px;
        line-height: 30px; } }
    @media (max-width: 767px) {
      .productList .prod-Op-content .op-Card li .prod-Detail h4 {
        font-size: 16px; } }
    .productList .prod-Op-content .op-Card li .prod-Detail h4.prod-Price {
      color: #AA0601;
      font-weight: bold; }
    .productList .prod-Op-content .op-Card li .brown {
      background-color: #5F3E2D;
      padding: 12px;
      border-radius: 4px; }
    .productList .prod-Op-content .op-Card li .orange {
      background-color: #B75929;
      padding: 12px;
      border-radius: 4px; }
  .productList .prod-Sun-content {
    margin-bottom: 56px;
    /*160-li的mb104*/
    /*手機板跟分頁距離計算為主*/ }
    @media (max-width: 992px) {
      .productList .prod-Sun-content {
        margin-bottom: 24px;
        /*96- md li的mb72*/ } }
    .productList .prod-Sun-content .sun-Card li {
      max-width: 31.5%; }
      @media (max-width: 992px) {
        .productList .prod-Sun-content .sun-Card li {
          max-width: 47.8%; } }
      @media (max-width: 767px) {
        .productList .prod-Sun-content .sun-Card li {
          max-width: 100%; } }
      .productList .prod-Sun-content .sun-Card li img {
        width: 350px;
        height: 224px; }
        @media (max-width: 992px) {
          .productList .prod-Sun-content .sun-Card li img {
            width: 330px;
            height: 164px; } }
        @media (max-width: 767px) {
          .productList .prod-Sun-content .sun-Card li img {
            width: 345px;
            height: 166px; } }
      @media (max-width: 992px) {
        .productList .prod-Sun-content .sun-Card li .prod-Detail h4 {
          font-size: 24px;
          line-height: 30px; } }
      @media (max-width: 767px) {
        .productList .prod-Sun-content .sun-Card li .prod-Detail h4 {
          font-size: 16px; } }
      .productList .prod-Sun-content .sun-Card li .prod-Detail h4.prod-Price {
        color: #AA0601;
        font-weight: bold; }
      .productList .prod-Sun-content .sun-Card li .brown {
        background-color: #5F3E2D;
        padding: 12px;
        border-radius: 4px; }
      .productList .prod-Sun-content .sun-Card li .orange {
        background-color: #B75929;
        padding: 12px;
        border-radius: 4px; }

/*optical分頁*/
.pagination-op {
  /*商品列表與分頁的距離調整*/
  margin: -8px 0 160px;
  text-align: center; }
  @media (max-width: 992px) {
    .pagination-op {
      margin: -7px 0 96px; } }
  @media (max-width: 767px) {
    .pagination-op {
      margin: 8px 0 56px; } }
  .pagination-op li {
    border: 1px solid #555555;
    margin-right: -1px; }
    .pagination-op li a {
      display: block;
      text-decoration: none;
      color: #555555; }
  .pagination-op .page-Btn {
    font-size: 19px;
    line-height: 29px; }
    @media (max-width: 767px) {
      .pagination-op .page-Btn {
        font-size: 17px;
        line-height: 26px;
        white-space: nowrap;
        /*因為字體大小會換行,強制不換行但有超過container*/ } }
    .pagination-op .page-Btn a {
      padding: 11px 12px; }
      @media (max-width: 767px) {
        .pagination-op .page-Btn a {
          padding: 10.5px 12px; } }
      .pagination-op .page-Btn a:hover {
        background-color: #F2F2F2; }
  .pagination-op .page-Num {
    font-size: 18px;
    line-height: 27px; }
    @media (max-width: 767px) {
      .pagination-op .page-Num {
        font-size: 16px;
        line-height: 21px; } }
    .pagination-op .page-Num a {
      padding: 12px 16px; }
      @media (max-width: 767px) {
        .pagination-op .page-Num a {
          padding: 12px 15px; } }
      .pagination-op .page-Num a:hover {
        color: #FFFFFF;
        background-color: #000000; }

/*sunglasses 分頁*/
.pagination-sun {
  display: none;
  text-align: center; }
  @media (max-width: 767px) {
    .pagination-sun {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 8px 0 56px;
      /*sm商品與分頁距離*/ } }
  .pagination-sun li {
    border: 1px solid #555555;
    margin-right: -1px; }
    .pagination-sun li a {
      display: block;
      text-decoration: none;
      color: #555555; }
  .pagination-sun .page-Btn {
    font-size: 19px;
    line-height: 29px; }
    @media (max-width: 767px) {
      .pagination-sun .page-Btn {
        font-size: 17px;
        line-height: 26px;
        white-space: nowrap;
        /*因為字體大小會換行,強制不換行但有超過container*/ } }
    .pagination-sun .page-Btn a {
      padding: 11px 12px; }
      @media (max-width: 767px) {
        .pagination-sun .page-Btn a {
          padding: 10.5px 12px; } }
      .pagination-sun .page-Btn a:hover {
        background-color: #F2F2F2; }
  .pagination-sun .page-Num {
    font-size: 18px;
    line-height: 27px; }
    @media (max-width: 767px) {
      .pagination-sun .page-Num {
        font-size: 16px;
        line-height: 21px; } }
    .pagination-sun .page-Num a {
      padding: 12px 16px; }
      @media (max-width: 767px) {
        .pagination-sun .page-Num a {
          padding: 12px 15px; } }
      .pagination-sun .page-Num a:hover {
        color: #FFFFFF;
        background-color: #000000; }

.loca {
  padding-top: 96px;
  padding-bottom: 128px;
  /*160-li mb32*/ }
  @media (max-width: 992px) {
    .loca {
      padding-top: 60px; } }
  @media (max-width: 767px) {
    .loca {
      padding-top: 28px; } }
  .loca h2 {
    font-weight: bold;
    margin-bottom: 60px;
    padding-left: 16px;
    border-left: 8px solid #9F1213; }
    @media (max-width: 992px) {
      .loca h2 {
        margin-bottom: 40px;
        border-left: 4px solid #9C2015; } }
    @media (max-width: 767px) {
      .loca h2 {
        font-size: 28px;
        margin-bottom: 24px;
        padding-left: 8px;
        border-color: #9F1213; } }
  @media (max-width: 992px) {
    .loca {
      padding-bottom: 76px;
      /*96- li mb20*/ } }
  @media (max-width: 767px) {
    .loca {
      padding-bottom: 40px;
      /*56- li mb16*/ } }
  .loca-top label {
    font-size: 24px; }
    @media (max-width: 992px) {
      .loca-top label {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .loca-top label {
        font-size: 14px; } }
  .loca-top select {
    font-size: 18px;
    color: #495057;
    height: 45px;
    width: 324px; }
    @media (max-width: 992px) {
      .loca-top select {
        font-size: 16px;
        height: 46px;
        width: 237px; } }
    @media (max-width: 767px) {
      .loca-top select {
        font-size: 14px;
        height: 36px;
        max-width: 76.9%; } }
  .loca-main li.locaCard-Item {
    max-width: 33%; }
    @media (max-width: 992px) {
      .loca-main li.locaCard-Item {
        max-width: 50%; } }
    @media (max-width: 767px) {
      .loca-main li.locaCard-Item {
        max-width: 100%; } }
    .loca-main li.locaCard-Item img {
      width: 350px;
      height: 224px; }
      @media (max-width: 992px) {
        .loca-main li.locaCard-Item img {
          width: 330px;
          height: 164px; } }
      @media (max-width: 767px) {
        .loca-main li.locaCard-Item img {
          width: 345px; } }
  .loca .locaCard-Body {
    color: #212529;
    border: 1px solid #00000029; }
  .loca .locaCard-Title {
    padding: 12px 0 12px 24px;
    border-bottom: 1px solid #00000029; }
    @media (max-width: 992px) {
      .loca .locaCard-Title {
        font-size: 16px;
        padding: 8px 0 8px 24px; } }
    @media (max-width: 767px) {
      .loca .locaCard-Title {
        font-size: 14px; } }
  .loca .locaCard-Content {
    padding: 16px 0 8px 24px;
    /*pb=16-li mb8 =8*/ }
    @media (max-width: 992px) {
      .loca .locaCard-Content h5 {
        font-size: 14px; } }
  .loca .locaCard-Btn {
    color: #FFFFFF;
    background-color: #000000;
    font-size: 19px;
    padding: 20px 0; }
    @media (max-width: 992px) {
      .loca .locaCard-Btn {
        font-size: 14px;
        padding: 16px 0; } }

/*locationCard-Content*/
.material-icons-outlined-loca {
  font-family: 'Material Icons';
  font-style: normal;
  color: #212529;
  width: 24px;
  height: 24px; }
  @media (max-width: 992px) {
    .material-icons-outlined-loca {
      width: 20px;
      height: 20px; } }

.location-branch {
  padding-top: 96px; }
  @media (max-width: 992px) {
    .location-branch {
      padding-top: 60px; } }
  @media (max-width: 767px) {
    .location-branch {
      padding-top: 28px; } }
  .location-branch h2 {
    font-weight: bold;
    margin-bottom: 60px;
    padding-left: 16px;
    border-left: 8px solid #9F1213; }
    @media (max-width: 992px) {
      .location-branch h2 {
        margin-bottom: 40px;
        border-left: 4px solid #9C2015; } }
    @media (max-width: 767px) {
      .location-branch h2 {
        font-size: 28px;
        margin-bottom: 24px;
        padding-left: 8px;
        border-color: #9F1213; } }
  .location-branch .branch-top label {
    font-size: 24px; }
    @media (max-width: 992px) {
      .location-branch .branch-top label {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .location-branch .branch-top label {
        font-size: 14px; } }
  .location-branch .branch-top select {
    font-size: 18px;
    color: #495057;
    height: 45px;
    width: 324px; }
    @media (max-width: 992px) {
      .location-branch .branch-top select {
        font-size: 16px;
        height: 46px;
        width: 237px; } }
    @media (max-width: 767px) {
      .location-branch .branch-top select {
        font-size: 14px;
        height: 36px;
        max-width: 76.9%; } }
  .location-branch .branch-main .branchCard {
    color: #212529; }
    @media (max-width: 992px) {
      .location-branch .branch-main .branchCard img {
        width: 100%;
        height: 164px; } }
    @media (max-width: 992px) {
      .location-branch .branch-main .branchCard-Img {
        width: 330px;
        margin-right: 30px; } }
    @media (max-width: 767px) {
      .location-branch .branch-main .branchCard-Img {
        width: 100%;
        margin-right: 0; } }
    .location-branch .branch-main .branchCard-Body {
      border: 1px solid #00000029; }
      @media (max-width: 992px) {
        .location-branch .branch-main .branchCard-Body {
          width: 330px; } }
      @media (max-width: 767px) {
        .location-branch .branch-main .branchCard-Body {
          width: 100%; } }
    .location-branch .branch-main .branchCard-Title {
      padding: 12px 24px;
      border-bottom: 1px solid #00000029; }
      @media (max-width: 992px) {
        .location-branch .branch-main .branchCard-Title {
          padding: 8.5px 16px 7.5px;
          font-size: 16px; } }
      @media (max-width: 767px) {
        .location-branch .branch-main .branchCard-Title {
          padding: 8px 24px; } }
    .location-branch .branch-main .branchCard-Content {
      padding: 16px 24px 8px; }
      @media (max-width: 992px) {
        .location-branch .branch-main .branchCard-Content h5 {
          font-size: 14px; } }
  .location-branch .branch-main .branchMap iframe {
    height: 100%; }
    @media (max-width: 992px) {
      .location-branch .branch-main .branchMap iframe {
        width: 100%;
        height: 422px; } }

.faq {
  padding-top: 96px; }
  @media (max-width: 992px) {
    .faq {
      padding-top: 60px; } }
  @media (max-width: 767px) {
    .faq {
      padding-top: 28px; } }
  .faq h2 {
    font-weight: bold;
    margin-bottom: 60px;
    padding-left: 16px;
    border-left: 8px solid #9F1213; }
    @media (max-width: 992px) {
      .faq h2 {
        margin-bottom: 40px;
        border-left: 4px solid #9C2015; } }
    @media (max-width: 767px) {
      .faq h2 {
        font-size: 28px;
        margin-bottom: 24px;
        padding-left: 8px;
        border-color: #9F1213; } }
  .faq-top p {
    font-size: 32px; }
  .faq-main {
    padding-bottom: 128px;
    /*160-mb32*/ }
    @media (max-width: 992px) {
      .faq-main {
        padding-bottom: 72px;
        /*96-24*/ } }
    @media (max-width: 767px) {
      .faq-main {
        padding-bottom: 36px;
        /*56-20*/ } }
  @media (max-width: 767px) {
    .faq .accordion-body p {
      font-size: 14px; } }

.blog-top {
  border-left: 8px solid #9F1213; }
  @media (max-width: 992px) {
    .blog-top {
      border-left: 4px solid #9C2015; } }
  @media (max-width: 767px) {
    .blog-top {
      font-size: 28px;
      border-color: #9F1213; } }

.blogCard {
  position: relative; }
  .blogCard-Img {
    max-width: 57.2%; }
    @media (max-width: 992px) {
      .blogCard-Img {
        max-width: 47.8%; } }
    @media (max-width: 767px) {
      .blogCard-Img {
        max-width: 100%; } }
    .blogCard-Img img {
      width: 100%; }
  .blogCard-Body {
    max-width: 40%; }
    @media (max-width: 992px) {
      .blogCard-Body {
        max-width: 46.6%; } }
    @media (max-width: 767px) {
      .blogCard-Body {
        max-width: 100%;
        width: 100%; } }
  .blogCard-Title {
    font-size: 32px;
    color: #650300; }
    @media (max-width: 992px) {
      .blogCard-Title {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .blogCard-Title {
        font-size: 16px; } }
  @media (max-width: 992px) {
    .blogCard-SubTitle h5 {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .blogCard-SubTitle h5 {
      font-size: 14px; } }
  .blogCard-SubTitle p {
    font-size: 16px;
    opacity: 0.7; }
    @media (max-width: 992px) {
      .blogCard-SubTitle p {
        font-size: 14px; } }
  .blogCard-Content {
    color: #555555;
    font-size: 20px; }
    @media (max-width: 992px) {
      .blogCard-Content {
        font-size: 14px; } }
    @media (max-width: 992px) {
      .blogCard-Content span {
        max-width: 7%;
        vertical-align: bottom; } }
  .blogCard-MoreBtn {
    text-align: right; }
    .blogCard-MoreBtn a {
      color: #650300;
      font-size: 36px; }
      @media (max-width: 992px) {
        .blogCard-MoreBtn a {
          color: #555555;
          font-size: 14px; } }
      .blogCard-MoreBtn a:hover {
        opacity: 0.8; }

.pagination-blog {
  margin: 36px 0 160px;
  text-align: center; }
  @media (max-width: 992px) {
    .pagination-blog {
      margin: 40px 0 96px; } }
  @media (max-width: 767px) {
    .pagination-blog {
      margin: 20px 0 56px; } }
  .pagination-blog li {
    border: 1px solid #555555;
    margin-right: -1px; }
    .pagination-blog li a {
      display: block;
      text-decoration: none;
      color: #555555; }
  .pagination-blog .page-Btn {
    font-size: 19px;
    line-height: 29px; }
    @media (max-width: 767px) {
      .pagination-blog .page-Btn {
        font-size: 17px;
        line-height: 26px;
        white-space: nowrap;
        /*因為字體大小會換行,強制不換行但有超過container*/ } }
    .pagination-blog .page-Btn a {
      padding: 11px 12px; }
      @media (max-width: 767px) {
        .pagination-blog .page-Btn a {
          padding: 10.5px 12px; } }
      .pagination-blog .page-Btn a:hover {
        background-color: #F2F2F2; }
  .pagination-blog .page-Num {
    font-size: 18px;
    line-height: 27px; }
    @media (max-width: 767px) {
      .pagination-blog .page-Num {
        font-size: 16px;
        line-height: 21px; } }
    .pagination-blog .page-Num a {
      padding: 12px 16px; }
      @media (max-width: 767px) {
        .pagination-blog .page-Num a {
          padding: 12px 15px; } }
      .pagination-blog .page-Num a:hover {
        color: #FFFFFF;
        background-color: #000000; }

.material-icons-outlined-blogcontent {
  font-family: 'Material Icons';
  font-style: normal;
  color: #AA0601;
  height: 48px;
  width: 48px;
  vertical-align: bottom; }
  @media (max-width: 992px) {
    .material-icons-outlined-blogcontent {
      height: 24px;
      width: 24px; } }

.breadcrumb-item a {
  color: #000000; }

.breadcrumb-item.active {
  color: #AA0601; }

.blog-Tags a {
  color: #AA0601;
  font-size: 24px; }
  @media (max-width: 992px) {
    .blog-Tags a {
      font-size: 16px; } }
  @media (max-width: 767px) {
    .blog-Tags a {
      font-size: 14px; } }

.blog-Tags .tags-Title {
  font-size: 28px;
  color: #AA0601; }
  @media (max-width: 992px) {
    .blog-Tags .tags-Title {
      font-size: 20px; } }

.blog-Tags .tags {
  width: 278px; }
  @media (max-width: 992px) {
    .blog-Tags .tags {
      width: 146px; } }
  @media (max-width: 767px) {
    .blog-Tags .tags {
      width: 100%; } }

@media (max-width: 767px) {
  .blog-Event {
    margin-bottom: -4px; } }

.blogContent {
  max-width: 71.1%; }
  @media (max-width: 992px) {
    .blogContent {
      max-width: 73.9%; } }
  @media (max-width: 767px) {
    .blogContent {
      max-width: 100%; } }
  @media (max-width: 992px) {
    .blogContent-Title {
      font-size: 32px; } }
  @media (max-width: 767px) {
    .blogContent-Title {
      font-size: 20px;
      color: #650300; } }
  .blogContent-SubTitle p {
    font-size: 28px; }
    @media (max-width: 992px) {
      .blogContent-SubTitle p {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .blogContent-SubTitle p {
        font-size: 14px; } }
  .blogContent-date {
    color: #6C6C6C;
    font-size: 16px; }
    @media (max-width: 992px) {
      .blogContent-date {
        font-size: 14px; } }
  .blogContent-ShareLink a {
    font-size: 20px;
    color: #0A0A0A; }
    @media (max-width: 992px) {
      .blogContent-ShareLink a {
        font-size: 16px; } }
  .blogContent-page a {
    color: #000000;
    font-size: 19px; }
    @media (max-width: 992px) {
      .blogContent-page a {
        font-size: 16px; } }
    @media (max-width: 767px) {
      .blogContent-page a {
        font-size: 14px;
        width: 100%; } }

.blog-TagSide {
  max-width: 22.8%; }
  @media (max-width: 992px) {
    .blog-TagSide {
      max: width 30%; } }
  @media (max-width: 767px) {
    .blog-TagSide {
      max-width: 100%; } }

.eventCard h5 {
  color: #0A0A0A;
  opacity: 0.6; }
  @media (max-width: 992px) {
    .eventCard h5 {
      font-size: 16px; } }

/*# sourceMappingURL=all.css.map */
