.blog-top{
   border-left: 8px solid $danger-400;
   @include pad{
       border-left: 4px solid $danger-500;
   }
   @include mobile{
       font-size: $fz-xl;
       border-color: $danger-400;
   } 
}
.blogCard{
    position: relative; //stretched-link才有用
    &-Img{
        max-width: 57.2%;
        @include pad{
            max-width: 47.8%;
        }
        @include mobile{
            max-width: 100%;
        }
        img{
            width: 100%;
        }
    }
    &-Body{
        max-width: 40%;
        @include pad{
            max-width: 46.6%;
        }
        @include mobile{
            max-width: 100%;
            width: 100%; //如果只設maw100%他並不會跟著li一樣100%不知道為什麼
        }
        
    }
    &-Title{
        font-size: $fz-2xl;
        color: $secondary;
        @include pad{
            font-size: $fz-md;
        }
        @include mobile{
            font-size: $fz-base;
        }

    }
    &-SubTitle{
        h5{
            @include pad{
                font-size: $fz-base;
            }
            @include mobile{
                font-size: $fz-xs;
            }
        }
        p{
            font-size: $fz-base;
            opacity: 0.7;
            @include pad{
                font-size: $fz-xs;  
            }
            
        }
        
    }
    &-Content{
        color: $grey-800;
        font-size: $fz-md;
        @include pad{
            font-size: $fz-xs;
            // height: 120px;
            // overflow: hidden;
        }
        span{
            @include pad{ //pad的時候才有要文字截斷
                max-width: 7%;
                vertical-align: bottom;
            }       
        }
    }
    &-MoreBtn{
        text-align: right;
        a{
            color: $secondary;
            font-size: $fz-3xl;
            @include pad{
                color: $grey-800;
                font-size: $fz-xs;
            }
            &:hover{
                opacity: 0.8;
        }
        }
    }
}
.pagination-blog{
    margin: 36px 0 160px;
    @include pad{
        margin: 40px 0 96px;
    }
    @include mobile{
        margin: 20px 0 56px;
    }
    @include paginaTemp;
    .page-Btn{
        @include pageBtn;
    }
    .page-Num{
       @include pageNumber;
    }
}



