.faq{
    @include location-faq-Template;
    &-top{
        p{
           font-size: $fz-2xl;
        }
    }
    &-main{ //整個main對footer距離
        padding-bottom: 128px; /*160-mb32*/
        @include pad{
            padding-bottom: 72px; /*96-24*/
        }
        @include mobile{
            padding-bottom: 36px; /*56-20*/
        }
    }
    .accordion-body{
        p{
            @include mobile{
                font-size: $fz-xs;
            }
        }
    }
}