.faq{
    @include location-faq-Template;
    .faq_top{
        p{
           font-size: 32px;
           font-weight: bold; 
        }
    }
    .faq_main{
        padding-bottom: 128px; /*160-mb32*/
        @include pad{
            padding-bottom: 72px; /*96-24*/
        }
        @include mobile{
            padding-bottom: 36px; /*56-20*/
        }
        .accordion-item{
            .accordion-header{
                font-weight: bold;
            } 
            .accordion-body{
                p{
                    @include mobile{
                        font-size: 14px;
                    }
                }
                .sm-show-break{
                    display: none;
                    @include mobile{
                        display: block;
                    }
                }
            }
        }
    }
}