/*容器*/
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  @include pad{
      max-width: 720px;
  }
  @include mobile{
      max-width: 360px;
  }
}

.header {
    background-color: $primary;
    padding: 30px 88px;
    @include pad{
      padding: 30px 39px;
    }
    @include mobile{
      padding:0;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 999;
      
    }
    h1{
      @include mobile{
        margin: 0 auto;
        padding: 10px 0;
      }
      a{
        width: 80px;
        height: 49px;
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/logo.png");
        background-size: cover;
        text-decoration: none;
        @include imgReplace;
        @include mobile{
          width: 48px;
          height: 29.14px;         
        }
          
      }
    } 
    nav{
      @include mobile{
        width: 100%; /*不然右邊會有多餘的紅色背景*/
      }
      .menu{
        @include mobile{
          justify-content: center;
          align-items: center;
          background-color: $danger-200;          
          
        }
        li{
          @include mobile{
            width: 50%;
            border: 1px solid $white;
          }
          a{
            font-size: $fz-md;
            line-height: 30px;
            text-decoration: none;
            color: $white;
            display: block;
            &:hover{
              opacity: 0.5;
            @include mobile{
              background: $primary;
              }
            }
            @include mobile{
              text-align: center;
              padding: 8px 54px;
              white-space: nowrap;
              overflow: auto;
            }
          }
        }  
      }
    }
  }    
/*product layout*/
  .sub-Nav{
    .prod-Series{        
        font-size: $fz-2xl;
        line-height: 50px;
        text-align: center;
        @include pad{
            font-size: $fz-lg;
            line-height: 32px;
        }
        @include mobile{
            font-size: $fz-xs;
            line-height: 14px;
        }
        li{
            border: 1px solid $grey-200;
            width: 33.3%;
            margin:0 -1px -1px 0;
            @include mobile{
                margin-top: -1px;
            }
            
            a{
                display: block;
                color: $dark;
                font-weight: bold;
                padding: 27px 0;
                border-bottom: 8px solid transparent; //設透明滑過背景就不會跳動
                @include pad{
                    padding: 14px 0;
                }
                @include mobile{
                    padding: 5px 0;
                    border-bottom: 4px solid transparent;
                    white-space: nowrap;
                    overflow:auto;
                }
                span{
                    margin-right: 10px;
                    @include pad{
                        margin-right: 9px;
                    }
                    @include mobile{
                        margin-right: 2px;
                    }
                }
                &:hover{
                    border-bottom: 8px solid $primary;
                    @include mobile{
                        border-bottom: 4px solid $primary;
                    }
                }
            }
        }
    }
}
/*blog layout*/
.blog-Header{
  background-color: $secondary;
  @include mobile{
    display: none;
  }
  .blog-Nav{
    
    a{
      padding-right: 48px;
      color: $white;
      font-weight: bold;
      font-size: $fz-md;
      @include pad{
        font-size: $fz-base;
      }
      &:hover{
        opacity: 0.5;
      }
    }
    
    .blog-Search{
      a{
        font-size: 40px;
      }
    }
  }
}


  .footer {
    background-color: $primary;
    .footerContent{
      @include mobile{
        display: none;
      }
      .footerMenu{
         a{
          color: $white;     
        &:hover{
          opacity: 0.5;
          }          
        }
      } 
       
      .linkMenu{
        img{
          width: 48px;
          height: 48px;
          @include pad{
            width: 24px;
            height: 24px;
          }
          &:hover{
            opacity: 0.5;
          }
        }
      } 
    }
    .footerContact{
      border-bottom: 1px solid $white;
      @include mobile{
        display: none;
      }
      h3{
        @include pad{
          font-size: $fz-md;
        }
        img{
          width: 36px;
          height: 36px;
          @include pad{
            width: 18px;
            height: 18px;
          }
        }
        a{
          color:$white;
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
    .sm-footerContact{
      display: none;
      @include mobile{
        display: block;
        display: flex;
        justify-content: space-between;
        padding: 24px 0;
        border-bottom: 1px solid $white;
      }
      .sm-footerContact-content{
        h3{
          @include pad{
            font-size: $fz-md;
          }
          img{
            width: 15px;
            height: 15px;
          }
          a{
            text-decoration: none;
            color:$white;
            font-size: $fz-base;
            &:hover{
              opacity: 0.5;
            }
          }
        }
      }
      .sm-footerContact-linkMenu{
        img{
          width: 24px;
          height: 24px;
          &:hover{
            opacity: 0.5;
          }
        }

      }
    }
    .footerRight{
      color: $white;
      @include mobile{
        display: inline !important; 
      }
      .rSide{
        @include mobile{
          display: inline !important;
        }
        h6{
          a{
            text-decoration: none;
            color: $white;
            &:hover{
              opacity: 0.5;
            }
            
          }
        }
        
      }
    }
  }

