.loca{
    @include location-faq-Template;
    padding-bottom: 128px; /*160-li mb32*/
    @include pad{
        padding-bottom: 76px; /*96- li mb20*/
    }
    @include mobile{
        padding-bottom: 40px; /*56- li mb16*/
    }
    &-top{
        @include locateSelectTemp;
    }
    &-main{
        //找不到適合的方式讓卡片往右推30 又能平均在container中 
        li.locaCard-Item{
            max-width: 33%;
            @include pad{
                max-width: 50%;
            }
            @include mobile{
                max-width: 100%;
            }
            img{
                width: 350px;
                height: 224px;
                @include pad{
                    width: 330px;
                    height: 164px;
                }
                @include mobile{
                    width: 345px;
                }
            }
        }
    }
    .locaCard{
        &-Body{ 
            color: $grey-900;
            border: 1px solid $grey-400;
        }
        &-Title{
            padding: 12px 0 12px 24px;
            border-bottom: 1px solid $grey-400;
            @include pad{
                font-size: $fz-base;
                padding: 8px 0 8px 24px;
            }
            @include mobile{
                font-size: $fz-xs;
            }
        }
        &-Content{
            padding: 16px 0 8px 24px; /*pb=16-li mb8 =8*/
            h5{
                @include pad{
                    font-size: $fz-xs;
                }
            }
        }
        &-Btn{
            color: $white;
            background-color: $dark;
            font-size: 19px;
            padding: 20px 0;
            @include pad{
                font-size: $fz-xs;
                padding: 16px 0;
            }
        }
    }
}
