body{
  font-family:$ff-base;
  font-size: $fz-base;
  line-height: 1.5;
}
a{
  text-decoration: none;
  display: block;
  &:hover{
    opacity: 0.5;
  }
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
*,*::before,*::after {
  box-sizing: border-box;
}
h2{
  font-size: $fz-4xl;
}
h3{
  font-size: $fz-3xl;
}
h4{
  font-size: $fz-lg;
}
h5{
  font-size: $fz-md;
}
h6{
  font-size: $fz-xs;
}
