body{
  font-family:-apple-system, BlinkMacSystemFont, Roboto, "Noto Sans TC", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}
h2{
  font-size: 48px;
}
h3{
  font-size: 36px;
}
h4{
  font-size: 24px;
}
h5{
  font-size: 20px;
}
h6{
  font-size: 14px;
}
/*容器*/
.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  @include pad{
      max-width: 720px;
  }
  @include mobile{
      max-width: 360px;
  }
}
