//RWD 992~768 pad模式
@mixin pad {
    @media(max-width: 992px){
        @content;
    }
}
//RWD 767以下 手機模式
@mixin mobile {
    @media (max-width:767px) {
        @content;
    }
}
//圖片取代文字
@mixin imgReplace{
    text-indent:101%;
    overflow:hidden;
    white-space:nowrap;
} 
//home每section上下推擠
@mixin homeTemplate {
    padding: 60px 0 80px;
    h2{
        text-align: center;
        font-weight: bold;
        margin-bottom: 40px;
    }
    @include pad{
        padding: 40px 0 56px;
        h2{
            margin-bottom: 32px;
            font-size: $fz-2xl;
        }
    }
    @include mobile{
        padding: 32px 0 40px;
        h2{
            margin-bottom: 20px;        
            font-size: $fz-md;
        }
    }
}
/*home feature-card-content文字內容版型*/
@mixin fetCardContentTemp{
    margin-top: 16px;
    h4{
        text-align: center;
        font-weight: bold;
        color: $secondary;
        margin-bottom: 8px;
    }
}
/*home recommend-card-content文字內容版型*/
@mixin recCardContentTemp {
    padding: 16px;
    height: 204px; /*可以不寫死高度,用padding上下推 但p段落要另外寫margin推日期*/
    position: relative;
    h6{
        color: $grey-900;
    }
    p{
        color: $grey-900;
    }
    span{
        color: $grey-600;
        font-size: $fz-xs;
        line-height: 21px;
        position: absolute;
        bottom: 16px;
    } 
}
/*product card-detail 型號價錢版型*/
@mixin proCardDetailTemp {
    h4{
        @include pad{
            font-size: $fz-lg;
            line-height: 30px;
        }
        @include mobile{
            font-size: $fz-base;
        }

    }
    h4.prod-Price{
        color: $primary;
        font-weight: bold;
    } 
}
/*product card-color產品色塊*/
@mixin prodColor-Brown {
    background-color: $orange-800;
    padding: 12px;
    border-radius: 4px;
}
@mixin prodColor-Orange {
    background-color: $orange-400;
    padding: 12px;
    border-radius: 4px;
}
/*location+faq section 上下推擠h2文字內容版型*/
@mixin location-faq-Template {
    padding-top: 96px;
    @include pad{
        padding-top: 60px;
    }
    @include mobile{
        padding-top: 28px;
    }
    h2{
        font-weight: bold;
        margin-bottom: 60px;
        padding-left: 16px;
        border-left: 8px solid $danger-400;
        @include pad{
            margin-bottom: 40px;
            border-left: 4px solid $danger-500;
        }
        @include mobile{
            font-size: $fz-xl;
            margin-bottom: 24px;
            padding-left: 8px;
            border-color: $danger-400;
        }
    }
}
/*location select設定*/
@mixin locateSelectTemp {
    label{
        font-size: $fz-lg;
        @include pad{
            font-size: $fz-base;
        }
        @include mobile{
            font-size: $fz-xs;
        }
    }
    select{
        font-size: $fz-sm;
        color:$grey-700;
        height: 45px;
        width: 324px;
        @include pad{
            font-size: $fz-base;
            height: 46px;
            width: 237px;
        }
        @include mobile{
            font-size: $fz-xs;
            height: 36px;
            max-width: 76.9%;

        }
    }
}
/*pagination 分頁模板*/
@mixin paginaTemp {
    text-align: center;
    li{
        border: 1px solid $grey-800;
        margin-right: -1px;
        a{
            display: block;
            text-decoration: none;
            color: $grey-800;
        }        
    }
}
@mixin pageBtn {
    font-size: 19px;
    line-height: 29px;
    @include mobile{
        font-size: 17px;
        line-height: 26px;
        white-space: nowrap; /*因為字體大小會換行,強制不換行但有超過container*/
        
    }
    a{
        padding: 11px 12px;
        @include mobile{
            padding: 10.5px 12px;
        }
        &:hover{
            background-color: $grey-100;
        }
    }     
}
@mixin pageNumber {
    font-size: $fz-sm;
    line-height: 27px;
    @include mobile{
        font-size: $fz-base;
        line-height: 21px;
    }
    a{
        padding: 12px 16px;
        @include mobile{
            padding: 12px 15px;
        }
        &:hover{
            color: $white;
            background-color: $dark; 
        }
    }
}