// @import "_variable.scss";
// @import "_mixin.css";

/*margin for PC*/
.mr-1{
    margin-right: 8px;
}
.mb-1{
    margin-bottom: 8px;
}
.mr-2{
    margin-right: 16px;
}
.mb-2{
    margin-bottom: 16px;
}
.mr-3{
    margin-right: 24px;
}
.mb-4{
    margin-bottom: 32px;
}
.mr-4{
    margin-right: 32px;
}
.mb-5{
    margin-bottom: 40px;
}
.mr-6{
    margin-right: 48px;
}
.mb-8{
    margin-bottom: 64px;
}
.mb-13{
    margin-bottom: 104px;
}
/*footerContent mb*/
.mb-9-4{
    margin-bottom: 36px;
}
/*padding for PC*/
.pb-3{
    padding-bottom: 24px;
}
.pt-4{
    padding-top: 32px;
}
.pr-6{
    padding-right: 48px;
}
.pr-8{
    padding-right: 64px;
}
/*footerRight pd*/
.pb39{ 
    padding-bottom: 39px;
}
/*margin for PAD*/
.md-mb-1{
    @include pad{
       margin-bottom: 8px; 
    }
}
.md-mr-1{
    @include pad{
        margin-right: 8px;
    }
}
.md-mb-3{
    @include pad{
        margin-bottom: 24px;
    }
}
.md-mb-4{
    @include pad{
        margin-bottom: 32px;
    }
}
.md-mb-9{
    @include pad{
        margin-bottom: 72px;
    }
}
.md-mb-9-2{
    @include pad{
        margin-bottom: 18px;
    }
}
/*padding for PAD*/
.md-pb-4{
    @include pad{
        padding-bottom: 32px;
    }
}
.md-pr-5{
    @include pad{
        padding-right: 40px;
    }
}
.md-pb-5-4{
    @include pad{
        padding-bottom: 20px;
    }
}
/*margin for Mobile*/
.sm-mb-1{
    @include mobile{
        margin-bottom: 8px;
    }
    
}
.sm-mb-2{
    @include mobile{
        margin-bottom: 16px;
    }
    
}
.sm-mb-4{
    @include mobile{
        margin-bottom: 32px;
    }
}
.sm-mr-1-4{
    @include mobile{
        margin-right: 4px;
    }
}
.sm-mb-5-4{
    @include mobile{
        margin-bottom: 20px;
    }
}
/*padding for Mobile*/
.sm-pb-3{
    @include mobile{
        padding-bottom: 24px;
    }
    
}
/*容器*/
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    @include pad{
        max-width: 720px;
    }
    @include mobile{
        max-width: 360px;
    }
}
/*display setting*/
.d-block{
    display: block;
}
.d-inblock{
    display: inline-block;
}
.d-flex{
    display: flex;
}
.sm-d-flex{
    @include mobile{
        display: flex;
    }
}
.f-wrap{
    flex-wrap: wrap;
}
.md-f-wrap{
    @include pad{
        flex-wrap: wrap;
    }
}
.sm-f-wrap{
    @include mobile{
        flex-wrap: wrap;
    }
}
.jcsb{
    justify-content: space-between;
}
.jcc{
    justify-content: center;
}
.aic{
    align-items: center;
}
/*----------------------------*/
/*icon-home*/
.material-icons-outlined{
    font-family: 'Material Icons';
    font-style: normal;
    color:$mainColor-red;
    width: 44px;
    height: 44px;
    @include pad{
        width: 40px;
        height: 40px;
    }
  }
/*icon-prod_1*/
.material-icons-outlined-prod{
    font-family: 'Material Icons';
    font-style: normal;
    color:$black;
    width: 44px;
    height: 44px;
    @include pad{
        width: 29.33px;
        height: 29.33px;
    }
    @include mobile{
        width: 14.66px;
        height: 14.66px;
    }
  }