
/*--------margin for PC---------------*/

//margin-top 8,40
@each $num in 1,5 {
    .mt-#{$num} {
        margin-top: $space * $num !important;
    }
}

//margin-right 8,16,24,32,48
.mr-{
    @each $num in 1,2,3,4,6 {
        &#{$num} {
            margin-right: $space * $num !important;
        }
    }
    &22p{
        margin-right: 22px !important;
    }
    &5-4{
        margin-right: 20px !important; /*lacation label*/
    }
    &15-2{
        margin-right: 30px !important; /*location card*/
    }
}

//margin-bottom
.mb-{
    @each $num in 1,2,3,4,5,8,13,20 {
        &#{$num} {
            margin-bottom: $space * $num !important;
        }
    }
    &5-4{
        margin-bottom: 20px !important; /*blogcontent sharelink*/
    }
    &9-4{
        margin-bottom: 36px !important; /*footerContent+faqtop mb*/
    }
    &15-4{
        margin-bottom: 60px !important;
    }
}

/*----------padding for PC-----------------*/
//padding-top 32
.pt-{
    @each $num in 4 {
        &#{$num} {
            padding-top: $space * $num !important;
        }
    }
}

//padding-right 16,48,64
.pr-{
    @each $num in 2,6,8 {
        &#{$num} {
            padding-right: $space * $num !important;
        }
    }
    &5-4{
        padding-right: 20px !important;
    }
    &15-2{
        padding-right: 30px !important;
    }

}

//padding-bottom
.pb-{
    @each $num in 3 {
        &#{$num} {
            padding-bottom: $space * $num !important;
        }
    }
    &39p{
        padding-bottom: 39px !important; /*footerRight pb*/
    }
}

//padding-left
.pl-{
    @each $num in 2 {
        &#{$num} {
            padding-left: $space * $num !important;
        }
    }
    &19p{
        padding-left: 19px !important; /*location select*/
    }
}

/*-------------margin for PAD-------------*/
.md-m{
    @include pad{
    //pad-margin-top
        &t-4{
            margin-top: 32px !important;
        }
    //pad-margin-right
        @each $num in 0,1,2 {
            &r-#{$num} {
                margin-right: $space * $num !important;
            }
        }
        &r-5-4{
            margin-right: 20px !important;
        }
    //pad-margin-bottom
        @each $num in 1,2,3,4,5,9,12 {
            &b-#{$num} {
                margin-bottom: $space * $num !important;
            }
        }
        &b-1-4{
            margin-bottom: 4px !important;
        }
        &b-9-2{
            margin-bottom: 18px !important;
        }
        &b-5-4{
            margin-bottom: 20px !important;
        }
        &b-25p{
            margin-bottom: 25px !important;
        }
    }
}


/*-----------padding for PAD--------------*/
.md-p{
    @include pad{
    //pad-padding-right
        @each $num in 1,2,5 {
            &r-#{$num} {
                padding-right: $space * $num !important;
            }
        }
    //pad-padding-bottom
        @each $num in 4 {
            &b-#{$num} {
                padding-bottom: $space * $num !important;
            }
        }
        &b-5-4{
            padding-bottom: 20px !important;
        }   
    //pad-padding-left
        @each $num in 2 {
            &l-#{$num} {
                padding-left: $space * $num !important;
            }
        }
    }
}


/*--------------margin for Mobile-------------*/
.sm-m{
    @include mobile{
    //mobile-margin-top
        &t-7-4{
                margin-top: 28px !important;
        }
    //mobile-margin-right
        @each $num in 1 {
            &r-#{$num} {
                margin-right: $space * $num !important;
            }
        }
        &r-1-4{
                margin-right: 4px !important;
        }
        &r-3-4{
                margin-right: 12px !important;
        }
    //mobile-margin-bottom
        @each $num in 0,1,2,3,4,7 {
            &b-#{$num} {
                margin-bottom: $space * $num !important;
            }
        }
        &b-5-2{
                margin-bottom: 10px !important;
        }
        &b-5-4{
                margin-bottom: 20px !important;
        }
        &b-7-4{
                margin-bottom: 28px !important;
        }
        &b-15-2{
                margin-bottom: 30px !important;
        }
    }
}

/*----------padding for Mobile-------------*/
.sm-p{
    @include mobile{
    //mobile-padding-right
        @each $num in 0 {
            &r-#{$num} {
                padding-right: $space * $num !important;
            }
        }
        &r-1-4{
            padding-right: 4px !important;
        }
    //mobile-padding-bottom
        @each $num in 3 {
            &b-#{$num} {
                padding-bottom: $space * $num !important;
            }
        }
    //mobile-padding-left
        @each $num in 1 {
            &l-#{$num} {
                padding-bottom: $space * $num !important;
            }
        }
    }
}

/*----------display setting-----------------*/
.d-{
    &block{
        display: block !important;
    }
    &inblock{
        display: inline-block !important;
    }
    &flex{
        display: flex !important;
    }
    &none{
        display: none !important;
    }
    &inline{
        display: inline !important;
    }
}
.f-wrap{
    flex-wrap: wrap !important;
}

.md-{
    @include pad{
        &d-flex{
            display: flex !important;
        }
        &d-none{
            display: none !important;
        }
        &f-wrap{
            flex-wrap: wrap !important;
        }
        &d-inblock{
            display: inline-block !important;
        }
        &d-block{
            display: block !important;
        }
    }
}

.sm-{
    @include mobile{
        &d-block{
            display: block !important;
        }
        &d-flex{
            display: flex !important;
        }
        &f-wrap{
            flex-wrap: wrap !important;
        }
        &d-none{
            display: none !important;
        }
    }
}


.justify-content-{
    &between{
        justify-content: space-between !important;
    }
    &center{
        justify-content: center !important;
    }
}
.align-items-{
    &center{
        align-items: center !important;
    }
}
/*-----------text-----------------*/
.fw-bold{
    font-weight: bold;
}
.text-center{
    text-align: center;
}
/*icon-prod_1(layout_prod)*/
.material-icons-outlined-prod{
    font-family: 'Material Icons';
    font-style: normal;
    color:$dark;
    width: 44px;
    height: 44px;
    @include pad{
        width: 29.33px;
        height: 29.33px;
    }
    @include mobile{
        width: 14.66px;
        height: 14.66px;
    }
  }
  
  /*blog layout*/
  .material-icons-outlined-blogsearch{
    font-family: 'Material Icons';
    font-style: normal;
    color: $white;
  }