//color
$mainColor-red: #AA0601;
$fontColor-darkred:#650300;
$brightred:#AA0511;
$midred:#9F1213;
$brickred:#9C2015;
$lightpink:#AA06010D;
$white:#FFFFFF;
$black:#000000;
$light:#DEE2E6;
$palegrey:#F2F2F2;
$grey:#707070;
$silver:#495057;
$darkgrey:#212529;
$midgrey:#DCDCDC;
$lightgrey:#00000029;
$irongrey:#555555;
$brown:#5F3E2D;
$darkorange:#B75929;

//font
