$mainColor-red: #AA0601;
$fontColor-darkred:#650300;
$white:#FFFFFF;
$black:#000000;
$light:#DEE2E6;
$palegrey:#F2F2F2;
$lightpink:#AA06010D;
$grey:#707070;
$darkgrey:#212529;
$midgrey:#DCDCDC;
$lightgrey:#00000029;
$irongrey:#555555;
$brightred:#AA0511;
$brown:#5F3E2D;
$darkorange:#B75929;